{% extends 'base.html' %} {% block title %}Home Page{% endblock %} {% block content %}

<div class="container my-3">
	<div class="row">
		<div class="container col-6 text-center">
		</br>
				<h3>Saved jobs</h3>

				<div class="container my-3">
					<div class="card">
						<div class="card-body fav-jobs-list">
					</div>
					</div>
				</div>
		</div>
		<div class="container col-6">
			<img
				class="img img-fluid"
				src="https://images.unsplash.com/photo-1609464474585-b353aaa64dc6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1090&q=80"
			/>
		</div>
		<!-- <div class="container col-6 text-center">
		</br>
				<h3>Saved events</h3>

				<div class="container my-3">
					<div class="card">
						<div class="card-body fav-events-list">
					</div>
					</div>
				</div>
		</div> -->
		
	</div>
</div>

{% endblock %}
