body {
	font-family: 'Lora', serif;
	background-color: #ecf2f8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

.carousel-img {
	height: 470px;
}

ul {
	list-style-type: none;
}

.carousel-caption {
	height: 100px;
	padding: 10px;
}
