{% extends "base.html" %} {% block title %}Home Page{% endblock %} {% block content %}

<div class="container my-3">
	<div class="row">
		<div class="container col-6">
			<img
				class="img img-fluid"
				src="https://images.unsplash.com/photo-1612832021967-c9493a4591d6?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"
			/>
		</div>
		<div class="container col-6 text-center">
		</br>
			<div class="container">
				<h3>Future Events</h3>
				<h6 class="helper-text-italic">You can modify an event on Recruiter's home page.</h6>
				<ul>
					{% for evt in events %}
					<li>
						<div class="container my-3">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title">{{evt.title}}</h5>
									<span class="card-subtitle mb-2 text-muted">{{evt.date}} - {{evt.location}}</span>
									<p class="card-text evt-desc">{{evt.description}}</p>
								
								</div>
							</div>
						</div>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		
	</div>
</div>

{% endblock %}
